<h1>Hello world</h1>
<ul>
  <li>
    <a routerLink="/auth/login">Go login</a>
  </li>
  <li>
    <a routerLink="/auth/register">Go register</a>
  </li>
  <li>
    <a routerLink="/heroes/list">List heroes</a>
  </li>
  <li>
    <a routerLink="/heroes/add">Add Hero</a>
  </li>
  <li>
    <a routerLink="/heroes/edit/5">Edit Hero</a>
  </li>
  <li>
    <a routerLink="/heroes/search">Search Hero</a>
  </li>
  <li>
    <a routerLink="/heroes/555">Hero by id</a>
  </li>
  <li>
    <a routerLink="/heroes/list">List heroes</a>
  </li>
</ul>

<router-outlet></router-outlet>
