<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="./list" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>label</mat-icon>
        <span>Heroes List</span>
      </a>
      <a mat-list-item routerLink="./add" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>add</mat-icon>
        <span>Add Hero</span>
      </a>
      <a mat-list-item routerLink="./searcj" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>search</mat-icon>
        <span>Search Hero</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-button>
      Log Out
    </button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
