<h2>Reactive: Switches</h2>
<hr />
<form [formGroup]="myForm" (ngSubmit)="save()">
  <!-- radio -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Gender</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="male-id"
          formControlName="gender"
          value="M"
        />
        <label class="form-check-label" for="male-id"> Male </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="female-id"
          formControlName="gender"
          value="F"
        />
        <label class="form-check-label" for="female-id"> Female </label>
      </div>
    </div>
  </div>

  <!-- Switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notifications</label>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="notificationsSwitch"
          formControlName="notifications"
        />
        <label class="form-check-label" for="notificationsSwitch"
          >I want to receive notifications</label
        >
      </div>
    </div>
  </div>

  <!-- checks -->
  <div class="row mb-3">
    <div class="col-sm-3"></div>
    <div class="col-sm-9 pt-2">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
          formControlName="conditions"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Terms and conditions
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary float-end">Save</button>
    </div>
  </div>
</form>

<h5>Forms value</h5>
<pre>{{ myForm.value | json }}</pre>

<h5>Person</h5>
<pre>{{ person | json }}</pre>

<h5>Valid</h5>
<pre>{{ myForm.valid }}</pre>

<!-- <h5>Conditions</h5>
<pre>{{ myForm?.controls?.terms?.errors | json }}</pre> -->
