<h2>Reactives: Basics</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="save()" autocomplete="off" [formGroup]="myForm">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Product </label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Product name"
            formControlName="name"
          />
          <span class="form-text text-danger" *ngIf="invalidField('name')">
            Must have 3 letters
          </span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Price </label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Product price"
            formControlName="price"
          />
          <span class="form-text text-danger" *ngIf="invalidField('price')">
            The price must be greater or equal to zero
          </span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Quantity </label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Product quantity"
            formControlName="quantity"
          />
          <span class="form-text text-danger" *ngIf="invalidField('quantity')">
            The product quantity must be greater or equal to zero
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ myForm.valid | json }}</pre>
    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>
    <span>Pristine</span>
    <pre>{{ myForm.pristine | json }}</pre>
    <span>Touched</span>
    <pre>{{ myForm.touched | json }}</pre>
  </div>
</div>
