<div class="animate__animated animate__fadeIn animate__faster">
  <h2>By Capital</h2>
  <hr />
  <div class="row">
    <div class="col">
      <app-country-input
        (onEnter)="search($event)"
        (onDebounce)="suggerences($event)"
        [placeholder]="'Search capital'"
      ></app-country-input>
    </div>
  </div>

  <hr />

  <div class="alert alert-danger" *ngIf="hasError">
    Not information found with the term {{ term }}
  </div>

  <div class="row" *ngIf="countries.length > 0">
    <div class="col">
      <app-country-table [countries]="countries"></app-country-table>
    </div>
  </div>
</div>
