<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Flag</th>
      <th>Name</th>
      <th>Population</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let country of countries; let i = index"
      class="animate__animated animate__fadeIn animate__faster"
    >
      <td>
        {{ i + 1 }}
      </td>
      <td>
        <img [src]="country.flag" alt="" class="small-flag" />
      </td>
      <td>{{ country.name }} , {{ country.capital }}</td>
      <td>
        {{ country.population | number }}
      </td>
      <td>
        <a [routerLink]="['/country', country.alpha2Code]"> See </a>
      </td>
    </tr>
  </tbody>
</table>
