<h2>Template: Basics</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="save(myForm)" #myForm="ngForm" autocomplete="off">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Product </label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Product name"
            ngModel
            name="product"
            required
            minlength="3"
          />
          <span
            class="form-text text-danger"
            *ngIf="
              myForm.controls.product?.invalid &&
              myForm.controls.product?.touched
            "
          >
            Must have 3 letters
          </span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Price </label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Product price"
            ngModel
            name="price"
            required
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Quantity </label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Product quantity"
            ngModel
            name="quantity"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ myForm.valid | json }}</pre>
    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>
    <span>Pristine</span>
    <pre>{{ myForm.pristine | json }}</pre>
    <span>Touched</span>
    <pre>{{ myForm.touched | json }}</pre>
  </div>
</div>
