<h2 class="mt-2">Nested Selectors</h2>
<hr />
<form (ngSubmit)="save()" [formGroup]="myForm" class="mb-5">
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continent</label>
      <select class="form-control" formControlName="region">
        <option value="">--Select Continent--</option>
        <option *ngFor="let region of regions" [value]="region | lowercase">
          {{ region }}
        </option>
      </select>
    </div>
  </div>

  <div class="row mb-3" *ngIf="countries.length != 0">
    <div class="col">
      <label class="form-label">Country</label>
      <select class="form-control" formControlName="country">
        <option value="">--Select Country--</option>
        <option *ngFor="let country of countries" [value]="country.cca3">
          {{ country.name.common }}
        </option>
      </select>
    </div>
  </div>

  <div class="row mb-3" *ngIf="frontiers.length != 0">
    <div class="col">
      <label class="form-label">Frontier</label>
      <select class="form-control" formControlName="frontier">
        <option value="">--Select Frontier--</option>
        <option *ngFor="let frontier of frontiers" [value]="frontier.cca3">
          {{ frontier.name.common }}
        </option>
      </select>
    </div>
  </div>

  <div class="row" *ngIf="loading">
    <div class="col">
      <div class="alert alert-primary">Loading ...</div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary float-end">Select</button>
    </div>
  </div>
</form>

<h3>Form</h3>
<pre>Valid: {{ myForm.valid | json }}</pre>
<pre>Value: {{ myForm.value | json }}</pre>
