<h2>By Country</h2>
<hr>
<div class="row">
  <div class="col">
    <form autocomplete="off" (ngSubmit)="search()">
      <input type="text" name="term" placeholder="Search country..." class="form-control" [(ngModel)]="term">
    </form>
  </div>
</div>

<hr>

<div class="alert alert-danger" *ngIf="hasError">
  Not information found with the term {{ term }}
</div>

<div class="row" *ngIf="countries.length > 0">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            Flag
          </th>
          <th>
            Name
          </th>
          <th>
            Population
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries; let i = index">
          <td>
            {{ i + 1 }}
          </td>
          <td>
            <img [src]="country.flag" alt="" class="small-flag">
          </td>
          <td>
            {{ country.name }}
          </td>
          <td>
            {{ country.population | number }}
          </td>
          <td>
            <a [routerLink]="['/country', country.alpha2Code]"> See </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>